In [1]:
import pandas as pd
import numpy as np

In [2]:
file_list = ['facebook.json', 'meta.json', 'metaverse.json', 'zuckerberg.json']
dfs = [] # an empty list to store the data frames
for file in file_list:
    data = pd.read_json(file, lines=True) # read data frame from json file
    dfs.append(data) # append the data frame to the list

temp = pd.concat(dfs, ignore_index=True) # concatenate all the data frames in the list.

In [3]:
temp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 404859 entries, 0 to 404858
Data columns (total 28 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   _type             404859 non-null  object
 1   url               404859 non-null  object
 2   date              404859 non-null  datetime64[ns, UTC]
 3   content           404859 non-null  object
 4   renderedContent   404859 non-null  object
 5   id                404859 non-null  int64
 6   user              404859 non-null  object
 7   replyCount        404859 non-null  int64
 8   retweetCount      404859 non-null  int64
 9   likeCount         404859 non-null  int64
 10  quoteCount        404859 non-null  int64
 11  conversationId    404859 non-null  int64
 12  lang              404859 non-null  object
 13  source            404859 non-null  object
 14  sourceUrl         404859 non-null  object
 15  sourceLabel       404859 non-null  object
 16  outlinks          157525 non-null  object
 17  tcooutlinks       157525 non-null  object
 18  media             106997 non-null  object
 19  retweetedTweet    0 non-null       float64
 20  quotedTweet       59932 non-null   object
 21  inReplyToTweetId  84744 non-null   float64
 22  inReplyToUser     84744 non-null   object
 23  mentionedUsers    143581 non-null  object
 24  coordinates       8961 non-null    object
 25  place             8959 non-null    object
 26  hashtags          326155 non-null  object
 27  cashtags          37287 non-null   object
dtypes: datetime64[ns, UTC](1), float64(2), int64(6), object(19)
memory usage: 86.5+ MB

In [4]:
temp.head()

,_type,url,date,content,renderedContent,id,user,replyCount,retweetCount,likeCount,...,media,retweetedTweet,quotedTweet,inReplyToTweetId,inReplyToUser,mentionedUsers,coordinates,place,hashtags,cashtags
0,snscrape.modules.twitter.Tweet,https://twitter.com/Stream_Mexico/status/14564...,2021-11-04 23:59:01+00:00,Usuarios reportan problemas de funcionamiento ...,Usuarios reportan problemas de funcionamiento ...,1456410687677378560,"{'_type': 'snscrape.modules.twitter.User', 'us...",0,0,0,...,None,NaN,None,NaN,None,None,None,None,"[Instagram, Facebook]",None
1,snscrape.modules.twitter.Tweet,https://twitter.com/JamesLk1/status/1456410488...,2021-11-04 23:58:13+00:00,To continually grow it audience &amp; make mor...,To continually grow it audience &amp; make mor...,1456410488775061515,"{'_type': 'snscrape.modules.twitter.User', 'us...",0,0,0,...,None,NaN,None,NaN,None,None,None,None,"[MONEY, socialmedia, censure, personal, Democr...",None
2,snscrape.modules.twitter.Tweet,https://twitter.com/FosterBoiGaming/status/145...,2021-11-04 23:57:39+00:00,My Linktr making it easier to follow my social...,My Linktr making it easier to follow my social...,1456410344138723333,"{'_type': 'snscrape.modules.twitter.User', 'us...",0,0,3,...,None,NaN,None,NaN,None,None,None,None,"[smallstreamer, twitch, facebook, Youtube, Str...",None
3,snscrape.modules.twitter.Tweet,https://twitter.com/bmurphypointman/status/145...,2021-11-04 23:57:20+00:00,#giftsforher #tumblr #twitter #facebook #insta...,#giftsforher #tumblr #twitter #facebook #insta...,1456410262479773701,"{'_type': 'snscrape.modules.twitter.User', 'us...",2,0,0,...,None,NaN,None,NaN,None,None,None,None,"[giftsforher, tumblr, twitter, facebook, insta...",None
4,snscrape.modules.twitter.Tweet,https://twitter.com/bmurphypointman/status/145...,2021-11-04 23:57:19+00:00,#giftsforher #tumblr #twitter #facebook #insta...,#giftsforher #tumblr #twitter #facebook #insta...,1456410262068727818,"{'_type': 'snscrape.modules.twitter.User', 'us...",0,0,0,...,None,NaN,None,NaN,None,None,None,None,"[giftsforher, tumblr, twitter, facebook, insta...",None

In [5]:
temp.drop_duplicates(subset=['content'], keep='first', inplace = True)

In [6]:
temp.shape

(325569, 28)

In [7]:
temp = temp[temp['lang'] == 'en']

In [8]:
temp.shape

(212789, 28)

In [9]:
temp.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 212789 entries, 1 to 404858
Data columns (total 28 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   _type             212789 non-null  object
 1   url               212789 non-null  object
 2   date              212789 non-null  datetime64[ns, UTC]
 3   content           212789 non-null  object
 4   renderedContent   212789 non-null  object
 5   id                212789 non-null  int64
 6   user              212789 non-null  object
 7   replyCount        212789 non-null  int64
 8   retweetCount      212789 non-null  int64
 9   likeCount         212789 non-null  int64
 10  quoteCount        212789 non-null  int64
 11  conversationId    212789 non-null  int64
 12  lang              212789 non-null  object
 13  source            212789 non-null  object
 14  sourceUrl         212789 non-null  object
 15  sourceLabel       212789 non-null  object
 16  outlinks          80262 non-null   object
 17  tcooutlinks       80262 non-null   object
 18  media             50443 non-null   object
 19  retweetedTweet    0 non-null       float64
 20  quotedTweet       35694 non-null   object
 21  inReplyToTweetId  52123 non-null   float64
 22  inReplyToUser     52123 non-null   object
 23  mentionedUsers    91201 non-null   object
 24  coordinates       4119 non-null    object
 25  place             4118 non-null    object
 26  hashtags          160869 non-null  object
 27  cashtags          25556 non-null   object
dtypes: datetime64[ns, UTC](1), float64(2), int64(6), object(19)
memory usage: 47.1+ MB

In [10]:
columns_to_drop = ['_type', 'url', 'renderedContent', 'conversationId', 'lang', 'source', 'sourceUrl', 
                  'sourceLabel', 'outlinks', 'tcooutlinks', 'media', 'retweetedTweet',
                  'inReplyToTweetId', 'inReplyToUser', 'coordinates', 'place', 'cashtags']

In [11]:
temp.drop(temp[columns_to_drop], axis = 1, inplace = True)

In [12]:
temp.head()

,date,content,id,user,replyCount,retweetCount,likeCount,quoteCount,quotedTweet,mentionedUsers,hashtags
1,2021-11-04 23:58:13+00:00,To continually grow it audience &amp; make mor...,1456410488775061515,"{'_type': 'snscrape.modules.twitter.User', 'us...",0,0,0,0,None,None,"[MONEY, socialmedia, censure, personal, Democr..."
2,2021-11-04 23:57:39+00:00,My Linktr making it easier to follow my social...,1456410344138723333,"{'_type': 'snscrape.modules.twitter.User', 'us...",0,0,3,0,None,None,"[smallstreamer, twitch, facebook, Youtube, Str..."
5,2021-11-04 23:57:19+00:00,#giftsforher #tumblr #twitter #facebook #insta...,1456410261645058050,"{'_type': 'snscrape.modules.twitter.User', 'us...",1,0,0,0,None,None,"[giftsforher, tumblr, twitter, facebook, insta..."
6,2021-11-04 23:57:17+00:00,#linkedin #twitter #facebook #instagram #dogec...,1456410253952753665,"{'_type': 'snscrape.modules.twitter.User', 'us...",1,0,0,0,None,None,"[linkedin, twitter, facebook, instagram, dogec..."
7,2021-11-04 23:56:57+00:00,Quit Your Job With These 3 Winning #Facebook #...,1456410166157479941,"{'_type': 'snscrape.modules.twitter.User', 'us...",0,1,1,0,None,None,"[Facebook, Marketing]"

In [13]:
len(temp['user'])

212789

In [14]:
def get_user_id(row):
    row['user'] = row['user']['id']
    return row

In [15]:
temp = temp.apply(get_user_id, axis = 1)

In [16]:
temp.head()

,date,content,id,user,replyCount,retweetCount,likeCount,quoteCount,quotedTweet,mentionedUsers,hashtags
1,2021-11-04 23:58:13+00:00,To continually grow it audience &amp; make mor...,1456410488775061515,58010461,0,0,0,0,None,None,"[MONEY, socialmedia, censure, personal, Democr..."
2,2021-11-04 23:57:39+00:00,My Linktr making it easier to follow my social...,1456410344138723333,1393628979526094851,0,0,3,0,None,None,"[smallstreamer, twitch, facebook, Youtube, Str..."
5,2021-11-04 23:57:19+00:00,#giftsforher #tumblr #twitter #facebook #insta...,1456410261645058050,617853906,1,0,0,0,None,None,"[giftsforher, tumblr, twitter, facebook, insta..."
6,2021-11-04 23:57:17+00:00,#linkedin #twitter #facebook #instagram #dogec...,1456410253952753665,617853906,1,0,0,0,None,None,"[linkedin, twitter, facebook, instagram, dogec..."
7,2021-11-04 23:56:57+00:00,Quit Your Job With These 3 Winning #Facebook #...,1456410166157479941,812704308089208832,0,1,1,0,None,None,"[Facebook, Marketing]"

In [17]:
temp.rename(columns = {'id': 'tweet_id'}, inplace = True)

In [18]:
temp.head()

,date,content,tweet_id,user,replyCount,retweetCount,likeCount,quoteCount,quotedTweet,mentionedUsers,hashtags
1,2021-11-04 23:58:13+00:00,To continually grow it audience &amp; make mor...,1456410488775061515,58010461,0,0,0,0,None,None,"[MONEY, socialmedia, censure, personal, Democr..."
2,2021-11-04 23:57:39+00:00,My Linktr making it easier to follow my social...,1456410344138723333,1393628979526094851,0,0,3,0,None,None,"[smallstreamer, twitch, facebook, Youtube, Str..."
5,2021-11-04 23:57:19+00:00,#giftsforher #tumblr #twitter #facebook #insta...,1456410261645058050,617853906,1,0,0,0,None,None,"[giftsforher, tumblr, twitter, facebook, insta..."
6,2021-11-04 23:57:17+00:00,#linkedin #twitter #facebook #instagram #dogec...,1456410253952753665,617853906,1,0,0,0,None,None,"[linkedin, twitter, facebook, instagram, dogec..."
7,2021-11-04 23:56:57+00:00,Quit Your Job With These 3 Winning #Facebook #...,1456410166157479941,812704308089208832,0,1,1,0,None,None,"[Facebook, Marketing]"

In [19]:
temp.set_index('user', inplace = True)

In [20]:
temp.head()

,date,content,tweet_id,replyCount,retweetCount,likeCount,quoteCount,quotedTweet,mentionedUsers,hashtags
user,,,,,,,,,,
58010461,2021-11-04 23:58:13+00:00,To continually grow it audience &amp; make mor...,1456410488775061515,0,0,0,0,None,None,"[MONEY, socialmedia, censure, personal, Democr..."
1393628979526094851,2021-11-04 23:57:39+00:00,My Linktr making it easier to follow my social...,1456410344138723333,0,0,3,0,None,None,"[smallstreamer, twitch, facebook, Youtube, Str..."
617853906,2021-11-04 23:57:19+00:00,#giftsforher #tumblr #twitter #facebook #insta...,1456410261645058050,1,0,0,0,None,None,"[giftsforher, tumblr, twitter, facebook, insta..."
617853906,2021-11-04 23:57:17+00:00,#linkedin #twitter #facebook #instagram #dogec...,1456410253952753665,1,0,0,0,None,None,"[linkedin, twitter, facebook, instagram, dogec..."
812704308089208832,2021-11-04 23:56:57+00:00,Quit Your Job With These 3 Winning #Facebook #...,1456410166157479941,0,1,1,0,None,None,"[Facebook, Marketing]"

In [21]:
temp.to_csv('data.csv')

## Baseline

In [22]:
from sklearn.feature_extraction.text import TfidfVectorizer, ENGLISH_STOP_WORDS
from sklearn.decomposition import NMF, TruncatedSVD, LatentDirichletAllocation
import re
import string

In [25]:
corpus = temp['content'].fillna(value='')

In [26]:
stop_words = ENGLISH_STOP_WORDS.union(['math'])

In [27]:
tfidf = TfidfVectorizer(stop_words=stop_words)

tweet_word_matrix = tfidf.fit_transform(corpus)

vocab = tfidf.get_feature_names()

In [28]:
nmf = NMF(n_components=5)

nmf.fit(tweet_word_matrix)

/Users/atrinsarmadi/opt/anaconda3/envs/metis/lib/python3.8/site-packages/sklearn/decomposition/_nmf.py:312: FutureWarning: The 'init' value, when 'init=None' and n_components is less than n_samples and n_features, will be changed from 'nndsvd' to 'nndsvda' in 1.1 (renaming of 0.26).
  warnings.warn(("The 'init' value, when 'init=None' and "

NMF(n_components=5)

In [29]:
tweet_topic_matrix = nmf.transform(tweet_word_matrix)

In [49]:
tweet_topic_matrix_df = pd.DataFrame(tweet_topic_matrix).add_prefix('topic_')

tweet_topic_matrix_df.head()

    topic_0   topic_1  topic_2   topic_3   topic_4
0  0.005052  0.005541      0.0  0.001693  0.005417
1  0.005535  0.001128      0.0  0.000677  0.004496
2  0.000000  0.110017      0.0  0.000000  0.000000
3  0.000000  0.129480      0.0  0.000000  0.000000
4  0.010193  0.001445      0.0  0.000000  0.000000

In [50]:
word_topic_matrix_df = pd.DataFrame(nmf.components_, columns=vocab).T.add_prefix('topic_')
word_topic_matrix_df.head()

            topic_0   topic_1  topic_2   topic_3   topic_4
00              0.0  0.000657      0.0  0.000000  0.019815
000             0.0  0.007857      0.0  0.000000  0.080491
0000            0.0  0.000000      0.0  0.000019  0.000306
000000          0.0  0.000026      0.0  0.000000  0.000132
0000000014      0.0  0.000016      0.0  0.000000  0.000098

In [51]:
word_topic_matrix_df.sort_values(by='topic_0', ascending=False).head(10)

                 topic_0   topic_1   topic_2   topic_3   topic_4
meta            5.801263  0.000000  0.086312  0.000000  0.000000
facebook        4.833184  0.805326  0.000000  0.047294  0.000000
new             1.105058  0.059978  0.000000  0.118160  0.245544
https           0.985587  0.548342  0.205590  0.642765  1.868147
company         0.958247  0.000000  0.000000  0.350018  0.000000
change          0.664670  0.000718  0.000000  0.137280  0.000000
changing        0.577002  0.000000  0.000000  0.076157  0.000000
changes         0.573749  0.000000  0.000000  0.012105  0.000000
changed         0.546659  0.000000  0.000000  0.012700  0.000000
markzuckerberg  0.537706  0.000000  0.000000  0.000000  0.033942

In [52]:
def top_tweets(tweet_topic_matrix_df, topic, n_tweets):
    return (tweet_topic_matrix_df
            .sort_values(by=topic, ascending=False)
            .head(n_tweets)['content']
            .values)

def top_words(word_topic_matrix_df, topic, n_words):
    return (word_topic_matrix_df
            .sort_values(by=topic, ascending=False)
            .head(n_words))[topic]

In [53]:
top_words(word_topic_matrix_df, 'topic_1', 10)

shop                  1.954429
gifts                 1.851587
affiliatemarketing    1.672392
giftideas             1.625526
shopping              1.624054
gift                  1.621038
socialmedia           1.552350
twitter               1.530156
instagram             1.527189
deal                  1.457997
Name: topic_1, dtype: float64

In [54]:
top_words(word_topic_matrix_df, 'topic_2', 10)

project       4.033419
playtoearn    1.170874
future        1.148540
good          1.126816
airdrop       1.030906
best          0.951063
gamefi        0.869194
team          0.804169
hopefully     0.776507
better        0.706947
Name: topic_2, dtype: float64

In [55]:
top_words(word_topic_matrix_df, 'topic_0', 10)

meta              5.801263
facebook          4.833184
new               1.105058
https             0.985587
company           0.958247
change            0.664670
changing          0.577002
changes           0.573749
changed           0.546659
markzuckerberg    0.537706
Name: topic_0, dtype: float64