In [1]:
import pandas as pd
import time
import numpy as np
from math import radians, cos, sin, asin, sqrt
import datetime

## Work on park_meter df

In [2]:
def get_distance(park_meter_lat, park_meter_long, dest_lat,dest_long):
    r = 3956
    park_meter_lat, park_meter_long, dest_lat, dest_long = (radians(park_meter_lat), 
                                                            radians(park_meter_long), radians(dest_lat), 
                                                            radians(dest_long)) 
    dlat = dest_lat - park_meter_lat
    dlong = dest_long - park_meter_long
    a = sin(dlat / 2)**2 + cos(park_meter_lat) * cos(dest_lat) * sin(dlong / 2)**2
    c = 2 * asin(sqrt(a))
    dist = c * r
    return dist

In [3]:
dest_lat_ex = 37.750612
dest_long_ex = -122.420798

In [4]:
park_meters = pd.read_csv('park_meter_clean.csv')

In [5]:
park_meters['dist'] = park_meters.apply(lambda row: 
                                    get_distance(row['latitude'], row['longitude'], dest_lat_ex , dest_long_ex)
                                        , axis = 1)

In [6]:
distance_input_ex = 0.25

In [7]:
park_meters = park_meters[park_meters['dist'] < distance_input_ex]

## Work on meter_policies df

In [8]:
meter_policies = pd.read_csv('meter_policies_clean.csv')

In [9]:
meter_policies.head()

,revisiondate,startdate,enddate,parkingspaceid,dayofweek,starttime,endtime,scheduletype,timelimitminutes,hourlyrate
0,2021-11-29T16:19:10.000,2021-12-06T00:00:00.000,2200-12-31T23:59:59.000,100001,Fr,00:00:00,04:30:00,FREE,0.0,0.00
1,2021-11-29T16:19:10.000,2021-12-06T00:00:00.000,2200-12-31T23:59:59.000,100001,Fr,18:00:00,23:59:00,FREE,0.0,0.00
2,2021-11-29T16:19:10.000,2021-12-06T00:00:00.000,2200-12-31T23:59:59.000,100001,Fr,04:30:00,09:00:00,PRE,120.0,0.00
3,2021-11-29T16:19:10.000,2021-12-06T00:00:00.000,2200-12-31T23:59:59.000,100001,Fr,09:00:00,18:00:00,OP,120.0,2.25
4,2021-11-29T16:19:10.000,2021-12-06T00:00:00.000,2200-12-31T23:59:59.000,100001,Mo,00:00:00,04:30:00,FREE,0.0,0.00

In [10]:
meter_policies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1011185 entries, 0 to 1011184
Data columns (total 10 columns):
 #   Column            Non-Null Count    Dtype
---  ------            --------------    -----
 0   revisiondate      1011185 non-null  object
 1   startdate         1011185 non-null  object
 2   enddate           1011185 non-null  object
 3   parkingspaceid    1011185 non-null  int64
 4   dayofweek         1011185 non-null  object
 5   starttime         1011185 non-null  object
 6   endtime           1011185 non-null  object
 7   scheduletype      1011185 non-null  object
 8   timelimitminutes  1011185 non-null  float64
 9   hourlyrate        1011185 non-null  float64
dtypes: float64(2), int64(1), object(7)
memory usage: 77.1+ MB

In [11]:
filtered_meter_policies = meter_policies[meter_policies['parkingspaceid'].isin(park_meters['parking_space_id'])]

In [12]:
filtered_meter_policies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12991 entries, 9949 to 960457
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   revisiondate      12991 non-null  object
 1   startdate         12991 non-null  object
 2   enddate           12991 non-null  object
 3   parkingspaceid    12991 non-null  int64
 4   dayofweek         12991 non-null  object
 5   starttime         12991 non-null  object
 6   endtime           12991 non-null  object
 7   scheduletype      12991 non-null  object
 8   timelimitminutes  12991 non-null  float64
 9   hourlyrate        12991 non-null  float64
dtypes: float64(2), int64(1), object(7)
memory usage: 1.1+ MB

In [13]:
### Now I need to filter this dataframe based on clien't input of time and day !

In [14]:
# These functions should do the following:
## 1. Filter day of week
## 2. Filter time of day
## 3. Filter based on time limits (Make sure time limits work)
## 4. Filter based on total cost of parking

In [42]:
#Input examples:
#Make sure to change input to datetime in streamlit or write down correct string

start_time_ex = '09:00:00'
end_time_ex = '15:00:00'
dayofweek_ex = 'Mo'

In [18]:
test = (pd.to_datetime(end_time_ex) - pd.to_datetime(start_time_ex)) / datetime.timedelta(minutes=1)

In [19]:
test

120.0

In [20]:
filtered_meter_policies = filtered_meter_policies[filtered_meter_policies['dayofweek'] == dayofweek_ex]

In [21]:
filtered_meter_policies.head()

,revisiondate,startdate,enddate,parkingspaceid,dayofweek,starttime,endtime,scheduletype,timelimitminutes,hourlyrate
9955,2021-11-29T16:19:10.000,2021-12-06T00:00:00.000,2200-12-31T23:59:59.000,100319,Mo,00:00:00,04:30:00,FREE,0.0,0.00
9956,2021-11-29T16:19:10.000,2021-12-06T00:00:00.000,2200-12-31T23:59:59.000,100319,Mo,12:00:00,15:00:00,OP,240.0,2.75
9957,2021-11-29T16:19:10.000,2021-12-06T00:00:00.000,2200-12-31T23:59:59.000,100319,Mo,15:00:00,18:00:00,OP,240.0,2.50
9958,2021-11-29T16:19:10.000,2021-12-06T00:00:00.000,2200-12-31T23:59:59.000,100319,Mo,18:00:00,23:59:00,FREE,0.0,0.00
9959,2021-11-29T16:19:10.000,2021-12-06T00:00:00.000,2200-12-31T23:59:59.000,100319,Mo,04:30:00,09:00:00,PRE,240.0,0.00

In [22]:
filtered_meter_policies[(((filtered_meter_policies['starttime'] <= start_time_ex) & 
                          (start_time_ex < filtered_meter_policies['endtime'])) |
                         ((filtered_meter_policies['starttime'] < end_time_ex) & 
                          (end_time_ex <= filtered_meter_policies['endtime'])))]

,revisiondate,startdate,enddate,parkingspaceid,dayofweek,starttime,endtime,scheduletype,timelimitminutes,hourlyrate
9960,2021-11-29T16:19:10.000,2021-12-06T00:00:00.000,2200-12-31T23:59:59.000,100319,Mo,09:00:00,12:00:00,OP,240.0,0.75
15745,2021-11-29T16:19:10.000,2021-12-06T00:00:00.000,2200-12-31T23:59:59.000,100513,Mo,09:00:00,12:00:00,OP,120.0,1.25
15782,2021-11-29T16:19:10.000,2021-12-06T00:00:00.000,2200-12-31T23:59:59.000,100514,Mo,09:00:00,12:00:00,OP,120.0,1.25
16098,2021-11-29T16:19:10.000,2021-12-06T00:00:00.000,2200-12-31T23:59:59.000,100524,Mo,09:00:00,12:00:00,OP,120.0,1.25
22414,2021-11-29T16:19:10.000,2021-12-06T00:00:00.000,2200-12-31T23:59:59.000,100753,Mo,08:00:00,18:00:00,OP,30.0,2.25
...,...,...,...,...,...,...,...,...,...,...
956289,2021-11-29T16:19:10.000,2021-12-06T00:00:00.000,2200-12-31T23:59:59.000,138267,Mo,09:00:00,12:00:00,OP,120.0,1.50
956326,2021-11-29T16:19:10.000,2021-12-06T00:00:00.000,2200-12-31T23:59:59.000,138268,Mo,09:00:00,12:00:00,OP,120.0,1.50
956363,2021-11-29T16:19:10.000,2021-12-06T00:00:00.000,2200-12-31T23:59:59.000,138269,Mo,09:00:00,12:00:00,OP,120.0,1.50
960435,2021-11-29T16:19:10.000,2021-12-06T00:00:00.000,2200-12-31T23:59:59.000,138465,Mo,07:30:00,09:30:00,ALT,0.0,0.00
960436,2021-11-29T16:19:10.000,2021-12-06T00:00:00.000,2200-12-31T23:59:59.000,138465,Mo,09:30:00,16:30:00,OP,1440.0,2.25

In [23]:
filtered_meter_policies[(((filtered_meter_policies['starttime'] <= start_time_ex) & 
                          (start_time_ex < filtered_meter_policies['endtime'])) |
                         ((filtered_meter_policies['starttime'] < end_time_ex) & 
                          (end_time_ex <= filtered_meter_policies['endtime'])))].duplicated('parkingspaceid').describe()

count       408
unique        2
top       False
freq        397
dtype: object

In [24]:
filtered_meter_policies_ex = filtered_meter_policies[(((filtered_meter_policies['starttime'] <= start_time_ex) & 
                          (start_time_ex < filtered_meter_policies['endtime'])) |
                         ((filtered_meter_policies['starttime'] < end_time_ex) & 
                          (end_time_ex <= filtered_meter_policies['endtime'])))]

In [25]:
import datetime

In [51]:
spaces_to_remove = set()
def check_time_limits(row, start_time, end_time):
    phase_start = pd.to_datetime(row['starttime'])
    phase_end = pd.to_datetime(row['endtime'])
    start_time = pd.to_datetime(start_time)
    end_time = pd.to_datetime(end_time)
    #Scenario 0 : no time limit
    if row['timelimitminutes'] == 0.0:
        print('good!')
        pass
    #Scenario 1: All of trip in one phase
    elif (phase_start <= start_time) & (phase_end >= end_time):
        if (end_time - start_time)/datetime.timedelta(minutes=1) > row['timelimitminutes']:
            print('#Scenario 1', row['timelimitminutes'])
            spaces_to_remove.add(row['parkingspaceid'])
    #Scenario 2: Trip starts in that phase but goes beyond
    elif (phase_start <= start_time) & (phase_end < end_time):
        if (phase_end - start_time)/datetime.timedelta(minutes=1) > row['timelimitminutes']:
            print('#Scenario 2', row['timelimitminutes'])
            spaces_to_remove.add(row['parkingspaceid'])
    #Scenario 3: Trip started before this phase but ending in this phase
    elif (phase_start > start_time) & (phase_end >= end_time):
        if (end_time - phase_start)/datetime.timedelta(minutes=1) > row['timelimitminutes']:
            print('#Scenario 3', row['timelimitminutes'])
            spaces_to_remove.add(row['parkingspaceid'])
    #Scenario 4: This phase is in the middle of the parking schedule
    elif (phase_start >= start_time) & (phase_end <= end_time):
        if (phase_end - phase_start)/datetime.timedelta(minutes=1) > row['timelimitminutes']:
            print('#Scenario 4', row['timelimitminutes'])
            spaces_to_remove.add(row['parkingspaceid'])
    else:
        print('good!')
    return spaces_to_remove

In [52]:
filtered_meter_policies_ex.apply(check_time_limits,start_time=start_time_ex, end_time=end_time_ex, axis=1)

#Scenario 2 120.0
#Scenario 2 120.0
#Scenario 2 120.0
#Scenario 1 30.0
#Scenario 1 30.0
#Scenario 1 15.0
#Scenario 1 30.0
#Scenario 2 120.0
#Scenario 1 120.0
#Scenario 1 120.0
#Scenario 2 120.0
#Scenario 2 30.0
#Scenario 1 240.0
#Scenario 2 30.0
#Scenario 1 120.0
#Scenario 2 30.0
#Scenario 2 120.0
#Scenario 2 30.0
#Scenario 2 120.0
#Scenario 2 30.0
#Scenario 1 120.0
#Scenario 1 120.0
#Scenario 1 30.0
#Scenario 1 120.0
#Scenario 1 120.0
#Scenario 2 120.0
#Scenario 2 30.0
#Scenario 2 30.0
#Scenario 1 120.0
#Scenario 1 120.0
#Scenario 1 120.0
#Scenario 1 120.0
#Scenario 1 120.0
#Scenario 1 120.0
#Scenario 2 120.0
#Scenario 2 120.0
#Scenario 1 120.0
#Scenario 2 120.0
#Scenario 2 120.0
#Scenario 2 120.0
#Scenario 2 120.0
#Scenario 1 240.0
good!
#Scenario 2 120.0
#Scenario 1 120.0
#Scenario 1 120.0
#Scenario 2 30.0
#Scenario 2 120.0
#Scenario 2 30.0
#Scenario 2 30.0
#Scenario 2 120.0
#Scenario 2 30.0
#Scenario 2 120.0
#Scenario 1 120.0
#Scenario 1 120.0
#Scenario 1 120.0
#Scenario 2 30.0
#Scenario 1 120.0
#Scenario 1 120.0
good!
#Scenario 2 120.0
#Scenario 2 120.0
#Scenario 2 120.0
#Scenario 2 30.0
#Scenario 2 30.0
#Scenario 1 120.0
#Scenario 1 120.0
#Scenario 1 120.0
good!
#Scenario 2 30.0
#Scenario 2 30.0
#Scenario 2 30.0
#Scenario 1 15.0
#Scenario 2 120.0
#Scenario 1 120.0
#Scenario 2 30.0
#Scenario 2 120.0
#Scenario 2 30.0
#Scenario 2 120.0
#Scenario 2 120.0
#Scenario 2 120.0
#Scenario 1 120.0
#Scenario 1 120.0
#Scenario 1 120.0
#Scenario 2 30.0
#Scenario 2 120.0
#Scenario 2 120.0
#Scenario 2 120.0
#Scenario 2 120.0
#Scenario 2 120.0
#Scenario 1 120.0
#Scenario 1 30.0
#Scenario 1 120.0
#Scenario 2 30.0
#Scenario 1 120.0
#Scenario 2 120.0
#Scenario 2 120.0
#Scenario 2 120.0
#Scenario 2 120.0
#Scenario 1 120.0
#Scenario 2 120.0
#Scenario 1 240.0
#Scenario 3 240.0
good!
good!
#Scenario 1 120.0
#Scenario 1 120.0
#Scenario 1 120.0
#Scenario 2 120.0
#Scenario 1 30.0
#Scenario 1 120.0
#Scenario 2 30.0
#Scenario 2 30.0
#Scenario 1 120.0
#Scenario 2 120.0
#Scenario 2 30.0
#Scenario 1 120.0
#Scenario 1 120.0
#Scenario 1 120.0
#Scenario 2 120.0
#Scenario 2 120.0
#Scenario 1 120.0
#Scenario 2 30.0
#Scenario 3 240.0
good!
#Scenario 1 120.0
#Scenario 2 30.0
#Scenario 1 120.0
#Scenario 1 120.0
#Scenario 1 120.0
#Scenario 1 120.0
#Scenario 2 120.0
#Scenario 3 30.0
good!
#Scenario 1 30.0
#Scenario 2 30.0
#Scenario 2 30.0
#Scenario 2 30.0
#Scenario 2 120.0
#Scenario 2 120.0
#Scenario 1 30.0
#Scenario 1 120.0
#Scenario 1 30.0
#Scenario 2 30.0
#Scenario 2 15.0
#Scenario 2 120.0
#Scenario 2 30.0
#Scenario 1 120.0
#Scenario 2 120.0
#Scenario 1 120.0
#Scenario 1 120.0
#Scenario 2 120.0
#Scenario 2 120.0
#Scenario 3 30.0
good!
#Scenario 1 120.0
#Scenario 2 120.0
#Scenario 2 120.0
#Scenario 2 30.0
#Scenario 2 15.0
#Scenario 2 30.0
#Scenario 2 120.0
#Scenario 2 120.0
#Scenario 2 30.0
#Scenario 1 240.0
#Scenario 2 120.0
#Scenario 2 120.0
#Scenario 2 120.0
#Scenario 1 240.0
#Scenario 2 120.0
#Scenario 1 30.0
good!
#Scenario 2 120.0
#Scenario 1 120.0
#Scenario 1 120.0
#Scenario 2 30.0
#Scenario 2 30.0
#Scenario 2 120.0
#Scenario 1 120.0
#Scenario 2 30.0
#Scenario 2 30.0
#Scenario 2 120.0
#Scenario 2 120.0
#Scenario 2 30.0
#Scenario 2 30.0
#Scenario 2 30.0
#Scenario 2 120.0
#Scenario 1 120.0
#Scenario 2 30.0
#Scenario 1 30.0
#Scenario 2 120.0
#Scenario 3 30.0
good!
#Scenario 1 120.0
#Scenario 2 30.0
#Scenario 2 120.0
#Scenario 2 120.0
#Scenario 2 120.0
#Scenario 2 120.0
#Scenario 1 120.0
#Scenario 2 120.0
#Scenario 1 30.0
#Scenario 2 120.0
#Scenario 2 120.0
#Scenario 1 30.0
#Scenario 1 30.0
#Scenario 1 120.0
#Scenario 1 30.0
#Scenario 2 120.0
#Scenario 2 15.0
#Scenario 2 120.0
#Scenario 2 120.0
#Scenario 2 120.0
#Scenario 2 120.0
#Scenario 2 120.0
#Scenario 2 120.0
good!
#Scenario 2 120.0
#Scenario 2 120.0
#Scenario 2 30.0
#Scenario 2 120.0
#Scenario 2 30.0
#Scenario 1 120.0
#Scenario 2 30.0
#Scenario 2 120.0
#Scenario 1 120.0
#Scenario 1 120.0
#Scenario 1 120.0
#Scenario 1 120.0
#Scenario 2 30.0
#Scenario 2 30.0
#Scenario 1 30.0
#Scenario 2 120.0
#Scenario 2 30.0
#Scenario 1 240.0
#Scenario 1 120.0
#Scenario 2 30.0
good!
#Scenario 1 30.0
#Scenario 1 120.0
#Scenario 1 120.0
#Scenario 2 120.0
#Scenario 2 120.0
#Scenario 2 120.0
#Scenario 2 120.0
#Scenario 2 120.0
good!

9960      {111104, 111105, 128514, 123907, 127492, 13824...
15745     {111104, 111105, 128514, 123907, 127492, 13824...
15782     {111104, 111105, 128514, 123907, 127492, 13824...
16098     {111104, 111105, 128514, 123907, 127492, 13824...
22414     {111104, 111105, 128514, 123907, 127492, 13824...
                                ...
956289    {111104, 111105, 128514, 123907, 127492, 13824...
956326    {111104, 111105, 128514, 123907, 127492, 13824...
956363    {111104, 111105, 128514, 123907, 127492, 13824...
960435    {111104, 111105, 128514, 123907, 127492, 13824...
960436    {111104, 111105, 128514, 123907, 127492, 13824...
Length: 408, dtype: object

In [53]:
spaces_to_remove

{100513,
 100514,
 100524,
 100753,
 100754,
 100755,
 100762,
 100831,
 100832,
 100834,
 100978,
 101022,
 101023,
 101049,
 101182,
 101845,
 101915,
 101916,
 101917,
 101918,
 102100,
 102141,
 102257,
 102258,
 102544,
 102661,
 103577,
 103833,
 103837,
 103839,
 104025,
 104070,
 104117,
 104118,
 104217,
 104229,
 104254,
 104297,
 104506,
 104847,
 104848,
 104853,
 105182,
 105183,
 105184,
 105819,
 105820,
 105822,
 105823,
 105824,
 105828,
 106092,
 106200,
 106354,
 106640,
 106669,
 106713,
 106714,
 107243,
 107375,
 107376,
 107381,
 107387,
 107537,
 107538,
 107545,
 107956,
 107961,
 108121,
 108723,
 108905,
 109078,
 109134,
 109138,
 109258,
 109814,
 109815,
 109816,
 110221,
 110671,
 110674,
 110786,
 110965,
 110966,
 111099,
 111104,
 111105,
 111308,
 111332,
 111333,
 111610,
 111612,
 111761,
 111778,
 111779,
 111780,
 111940,
 111993,
 112003,
 112004,
 112580,
 112581,
 113133,
 113326,
 113450,
 113455,
 113604,
 113605,
 113741,
 114459,
 114735,
 114767,
 114820,
 114821,
 115461,
 115501,
 115585,
 115690,
 115740,
 116608,
 116647,
 116650,
 116651,
 116829,
 116922,
 117101,
 117110,
 117291,
 117380,
 117549,
 117637,
 117638,
 117639,
 117640,
 117924,
 117960,
 118141,
 118244,
 118346,
 118348,
 118471,
 118511,
 118513,
 118514,
 119226,
 119227,
 119236,
 119473,
 119658,
 119659,
 119775,
 119907,
 119971,
 120086,
 120091,
 120092,
 120097,
 120484,
 120485,
 120490,
 120496,
 120571,
 120699,
 121095,
 121315,
 121617,
 121746,
 121809,
 121947,
 122204,
 122227,
 122355,
 122356,
 122357,
 122358,
 122363,
 122476,
 122630,
 122941,
 123171,
 123865,
 123907,
 123914,
 124135,
 124171,
 124393,
 124889,
 124890,
 124893,
 125032,
 125460,
 125916,
 126056,
 126057,
 126058,
 126059,
 126252,
 126377,
 126670,
 126750,
 126770,
 126771,
 126777,
 126778,
 126779,
 126780,
 127317,
 127318,
 127492,
 127615,
 127623,
 127755,
 127785,
 127786,
 127787,
 127790,
 127852,
 127853,
 127890,
 127892,
 127967,
 128507,
 128508,
 128514,
 128943,
 129198,
 133356,
 137716,
 137717,
 138244,
 138266,
 138267,
 138268,
 138269}

In [49]:
filtered_meter_policies_ex = filtered_meter_policies_ex[filtered_meter_policies_ex['parkingspaceid'].isin(spaces_to_remove) == False]

In [50]:
filtered_meter_policies_ex

,revisiondate,startdate,enddate,parkingspaceid,dayofweek,starttime,endtime,scheduletype,timelimitminutes,hourlyrate
9960,2021-11-29T16:19:10.000,2021-12-06T00:00:00.000,2200-12-31T23:59:59.000,100319,Mo,09:00:00,12:00:00,OP,240.0,0.75
15745,2021-11-29T16:19:10.000,2021-12-06T00:00:00.000,2200-12-31T23:59:59.000,100513,Mo,09:00:00,12:00:00,OP,120.0,1.25
15782,2021-11-29T16:19:10.000,2021-12-06T00:00:00.000,2200-12-31T23:59:59.000,100514,Mo,09:00:00,12:00:00,OP,120.0,1.25
16098,2021-11-29T16:19:10.000,2021-12-06T00:00:00.000,2200-12-31T23:59:59.000,100524,Mo,09:00:00,12:00:00,OP,120.0,1.25
22414,2021-11-29T16:19:10.000,2021-12-06T00:00:00.000,2200-12-31T23:59:59.000,100753,Mo,08:00:00,18:00:00,OP,30.0,2.25
...,...,...,...,...,...,...,...,...,...,...
956289,2021-11-29T16:19:10.000,2021-12-06T00:00:00.000,2200-12-31T23:59:59.000,138267,Mo,09:00:00,12:00:00,OP,120.0,1.50
956326,2021-11-29T16:19:10.000,2021-12-06T00:00:00.000,2200-12-31T23:59:59.000,138268,Mo,09:00:00,12:00:00,OP,120.0,1.50
956363,2021-11-29T16:19:10.000,2021-12-06T00:00:00.000,2200-12-31T23:59:59.000,138269,Mo,09:00:00,12:00:00,OP,120.0,1.50
960435,2021-11-29T16:19:10.000,2021-12-06T00:00:00.000,2200-12-31T23:59:59.000,138465,Mo,07:30:00,09:30:00,ALT,0.0,0.00
960436,2021-11-29T16:19:10.000,2021-12-06T00:00:00.000,2200-12-31T23:59:59.000,138465,Mo,09:30:00,16:30:00,OP,1440.0,2.25

In [54]:
filtered_meter_policies_ex['parkingspaceid'].unique()

array([100319, 100513, 100514, 100524, 100753, 100754, 100755, 100762,
       100829, 100830, 100831, 100832, 100834, 100978, 100989, 100990,
       101022, 101023, 101049, 101071, 101102, 101128, 101182, 101637,
       101845, 101847, 101848, 101915, 101916, 101917, 101918, 102058,
       102100, 102141, 102257, 102258, 102462, 102544, 102661, 102701,
       102702, 102750, 102822, 102939, 103150, 103152, 103577, 103615,
       103616, 103788, 103833, 103834, 103837, 103839, 104025, 104070,
       104117, 104118, 104217, 104224, 104225, 104226, 104229, 104254,
       104295, 104296, 104297, 104506, 104596, 104659, 104847, 104848,
       104853, 105129, 105182, 105183, 105184, 105307, 105308, 105819,
       105820, 105822, 105823, 105824, 105828, 105984, 106092, 106093,
       106097, 106098, 106155, 106156, 106157, 106200, 106354, 106635,
       106640, 106669, 106713, 106714, 106838, 107107, 107115, 107243,
       107375, 107376, 107381, 107387, 107537, 107538, 107545, 107855,
       107956, 107961, 108120, 108121, 108674, 108723, 108905, 108912,
       108916, 108992, 109033, 109034, 109078, 109133, 109134, 109138,
       109139, 109258, 109545, 109657, 109814, 109815, 109816, 109822,
       109897, 109898, 109948, 110221, 110671, 110674, 110781, 110782,
       110786, 110787, 110965, 110966, 111099, 111104, 111105, 111106,
       111196, 111207, 111275, 111308, 111332, 111333, 111610, 111612,
       111761, 111778, 111779, 111780, 111784, 111940, 111993, 111994,
       112001, 112002, 112003, 112004, 112506, 112535, 112536, 112580,
       112581, 112631, 112892, 113133, 113326, 113327, 113335, 113386,
       113387, 113450, 113455, 113604, 113605, 113607, 113608, 113736,
       113737, 113741, 114329, 114330, 114459, 114666, 114667, 114735,
       114767, 114820, 114821, 115461, 115462, 115501, 115585, 115687,
       115689, 115690, 115740, 116198, 116218, 116281, 116282, 116283,
       116589, 116608, 116647, 116650, 116651, 116757, 116829, 116922,
       117101, 117110, 117165, 117234, 117291, 117380, 117383, 117384,
       117392, 117393, 117549, 117637, 117638, 117639, 117640, 117924,
       117960, 118141, 118244, 118245, 118246, 118346, 118347, 118348,
       118432, 118471, 118511, 118513, 118514, 119080, 119226, 119227,
       119235, 119236, 119276, 119277, 119278, 119279, 119473, 119658,
       119659, 119775, 119907, 119908, 119971, 120086, 120091, 120092,
       120097, 120484, 120485, 120490, 120496, 120570, 120571, 120699,
       120940, 121095, 121102, 121226, 121227, 121315, 121617, 121746,
       121787, 121809, 121848, 121849, 121850, 121947, 122204, 122227,
       122355, 122356, 122357, 122358, 122363, 122475, 122476, 122630,
       122661, 122941, 123169, 123170, 123171, 123323, 123326, 123687,
       123688, 123744, 123745, 123803, 123865, 123907, 123908, 123913,
       123914, 124135, 124170, 124171, 124391, 124393, 124889, 124890,
       124893, 124897, 124898, 125032, 125102, 125357, 125460, 125688,
       125916, 126056, 126057, 126058, 126059, 126252, 126377, 126523,
       126670, 126750, 126770, 126771, 126777, 126778, 126779, 126780,
       126950, 127317, 127318, 127364, 127492, 127615, 127617, 127622,
       127623, 127703, 127755, 127785, 127786, 127787, 127790, 127852,
       127853, 127890, 127891, 127892, 127967, 128507, 128508, 128514,
       128629, 128785, 128943, 129069, 129198, 129233, 129290, 129291,
       133356, 136134, 137513, 137514, 137515, 137716, 137717, 138244,
       138266, 138267, 138268, 138269, 138465])

In [55]:
def get_cost(row, start_time, end_time):
    #Get cost per line
    
    phase_start = pd.to_datetime(row['starttime'])
    phase_end = pd.to_datetime(row['endtime'])
    start_time = pd.to_datetime(start_time)
    end_time = pd.to_datetime(end_time)
    #Scenario 0 : no hourly cost
    if row['hourlyrate'] == 0.0:
        row['cost'] = 0
    #Scenario 1: All of trip in one phase
    elif (phase_start <= start_time) & (phase_end >= end_time):
        row['cost'] = (end_time - start_time)/datetime.timedelta(hours=1) * row['hourlyrate']
    #Scenario 2: Trip starts in that phase but goes beyond
    elif (phase_start <= start_time) & (phase_end < end_time):
        row['cost'] = (phase_end - start_time)/datetime.timedelta(hours=1) * row['hourlyrate']
    #Scenario 3: Trip started before this phase but ending in this phase
    elif (phase_start > start_time) & (phase_end >= end_time):
        row['cost'] = (end_time - phase_start)/datetime.timedelta(hours=1) * row['hourlyrate']
    #Scenario 4: This phase is in the middle of the parking schedule
    elif (phase_start >= start_time) & (phase_end <= end_time):
        row['cost'] = (phase_end - phase_start)/datetime.timedelta(minutes=1) * row['hourlyrate']
    else:
        row['cost'] = -1
    return row

In [56]:
filtered_meter_policies_ex = filtered_meter_policies_ex.apply(get_cost,start_time=start_time_ex, end_time=end_time_ex, axis=1)

In [57]:
len(filtered_meter_policies_ex['parkingspaceid'].unique())

397

In [82]:
grouped_cost = filtered_meter_policies_ex.groupby(['parkingspaceid']).sum(['cost'])

In [83]:
grouped_cost.sort_values(by = ['cost']).head(20)

                timelimitminutes  hourlyrate  cost
parkingspaceid
126950                       0.0        0.00  0.00
107115                       0.0        0.00  0.00
100319                     240.0        0.75  2.25
103615                     240.0        0.75  2.25
103616                     240.0        0.75  2.25
127623                      30.0        0.75  2.25
127622                     240.0        0.75  2.25
106097                     240.0        0.75  2.25
106098                     240.0        0.75  2.25
107387                      30.0        0.75  2.25
108916                     240.0        0.75  2.25
125102                     240.0        0.75  2.25
103152                     240.0        0.75  2.25
124898                     240.0        0.75  2.25
123913                     240.0        0.75  2.25
123908                     240.0        0.75  2.25
111994                     240.0        0.75  2.25
112001                     240.0        0.75  2.25
112002                     240.0        0.75  2.25
113327                     240.0        0.75  2.25

In [92]:
grouped_cost.index

Int64Index([100319, 100513, 100514, 100524, 100753, 100754, 100755, 100762,
            100829, 100830,
            ...
            137514, 137515, 137716, 137717, 138244, 138266, 138267, 138268,
            138269, 138465],
           dtype='int64', name='parkingspaceid', length=397)

In [87]:
grouped_cost.loc[106097]['cost']

2.25

In [122]:
park_meters

       parking_space_id   longitude   latitude      dist
39             127616.0 -122.420283  37.750473  0.029699
228            111610.0 -122.418830  37.753869  0.249232
255            114329.0 -122.420629  37.752922  0.159746
506            127623.0 -122.419775  37.748895  0.131051
546            114666.0 -122.420314  37.749627  0.072930
...                 ...         ...        ...       ...
31415          103834.0 -122.420580  37.753670  0.211488
31423          124135.0 -122.417740  37.752032  0.193639
31532          109034.0 -122.420503  37.749333  0.089749
31710          137717.0 -122.417669  37.752205  0.203153
31852          100524.0 -122.418405  37.750918  0.132324

[401 rows x 4 columns]

In [115]:
def get_total_cost(row):
    if row['parking_space_id'] in grouped_cost.index:
        row['total_cost'] = grouped_cost.loc[row['parking_space_id']]['cost']    
    return row

In [114]:
grouped_cost.loc[125102]['cost']

2.25

In [116]:
park_meters.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 401 entries, 39 to 31852
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   parking_space_id  401 non-null    float64
 1   longitude         401 non-null    float64
 2   latitude          401 non-null    float64
 3   dist              401 non-null    float64
dtypes: float64(4)
memory usage: 15.7 KB

In [129]:
park_meters = park_meters.apply(get_total_cost,axis=1)

In [134]:
park_meters.dropna(subset=['total_cost'], inplace=True)

In [145]:
park_meters.sort_values(by=['total_cost','dist'],inplace=True)

In [148]:
park_meters.head(10)

           dist   latitude   longitude  parking_space_id  total_cost
8018   0.237787  37.747592 -122.418703          107115.0        0.00
10261  0.240116  37.747540 -122.418738          126950.0        0.00
13830  0.118711  37.748964 -122.420178          103616.0        2.25
17210  0.119655  37.748969 -122.420102          108916.0        2.25
5237   0.120682  37.748973 -122.420030          106098.0        2.25
30032  0.125979  37.748991 -122.419740          124898.0        2.25
9765   0.127069  37.748881 -122.420009          107387.0        2.25
12044  0.127222  37.748994 -122.419683          106097.0        2.25
693    0.128749  37.748998 -122.419617          100319.0        2.25
13583  0.130321  37.749002 -122.419552          100990.0        2.25

In [164]:
from geopy.geocoders import GoogleV3

In [167]:
API_key = 'AIzaSyDexhK1CyLC9hvi2hRUqSuzf0JGhVwUqPM'
geolocator = GoogleV3(api_key=API_key)
locations = geolocator.reverse("22.5757344, 88.4048656")
print(locations.address)
# if locations:
#     print(locations[0].address)

Block-J, Cluster_rajarhat 12, Cluster-13, GA Block, Sector III, Bidhannagar, Kolkata, West Bengal 700106, India

In [168]:
top10 = park_meters.head(10)

In [169]:
top10

           dist   latitude   longitude  parking_space_id  total_cost
8018   0.237787  37.747592 -122.418703          107115.0        0.00
10261  0.240116  37.747540 -122.418738          126950.0        0.00
13830  0.118711  37.748964 -122.420178          103616.0        2.25
17210  0.119655  37.748969 -122.420102          108916.0        2.25
5237   0.120682  37.748973 -122.420030          106098.0        2.25
30032  0.125979  37.748991 -122.419740          124898.0        2.25
9765   0.127069  37.748881 -122.420009          107387.0        2.25
12044  0.127222  37.748994 -122.419683          106097.0        2.25
693    0.128749  37.748998 -122.419617          100319.0        2.25
13583  0.130321  37.749002 -122.419552          100990.0        2.25

In [190]:
test = dest_lat_ex, dest_long_ex
str(test)

'(37.750612, -122.420798)'

In [199]:
def get_address(row):
    API_key = 'AIzaSyDexhK1CyLC9hvi2hRUqSuzf0JGhVwUqPM'
    geolocator = GoogleV3(api_key=API_key)
    t = row['latitude'], row['longitude']
    row['address'] = geolocator.reverse(t)
    return row

In [200]:
top10.apply(get_address, axis=1)

,dist,latitude,longitude,parking_space_id,total_cost,address
8018,0.237787,37.747592,-122.418703,107115.0,0.00,"(3118 Mission St, San Francisco, CA 94110, USA..."
10261,0.240116,37.747540,-122.418738,126950.0,0.00,"(3118 Mission St, San Francisco, CA 94110, USA..."
13830,0.118711,37.748964,-122.420178,103616.0,2.25,"(1499 Valencia St, San Francisco, CA 94110, US..."
17210,0.119655,37.748969,-122.420102,108916.0,2.25,"(1499 Valencia St, San Francisco, CA 94110, US..."
5237,0.120682,37.748973,-122.420030,106098.0,2.25,"(1499 Valencia St, San Francisco, CA 94110, US..."
30032,0.125979,37.748991,-122.419740,124898.0,2.25,"(3464 26th St, San Francisco, CA 94110, USA, (..."
9765,0.127069,37.748881,-122.420009,107387.0,2.25,"(1501 Valencia St, San Francisco, CA 94110, US..."
12044,0.127222,37.748994,-122.419683,106097.0,2.25,"(3464 26th St, San Francisco, CA 94110, USA, (..."
693,0.128749,37.748998,-122.419617,100319.0,2.25,"(3464 26th St, San Francisco, CA 94110, USA, (..."
13583,0.130321,37.749002,-122.419552,100990.0,2.25,"(3433 26th St, San Francisco, CA 94110, USA, (..."